<div id="header" class="clearfix">
  <a>
    <span class="logo-t left">
      <%= image_tag 'logo.png', class: 'logoScreenLeft' %>
    </span>
  </a>

  <div class="word-scroll left">
    <div class="clearfix">
      <div class="scrollbox left">
        <ul class="word-list wordList">
          <li class="themeBox on">Away Day</li>
          <li class="themeBox hide">微信号：it_human_resources<br>关注后发送内容即可上墙</li>
        </ul>
      </div>
      <div class="num-t left">
        <p><em class="messageTotal">12</em><span>条信息</span></p>
      </div>
    </div>
  </div>

  <span class="reserved right showIntroBtn">
    <%= image_tag 'qrcode.jpg' %>
  </span>
</div>