<div id="container">
  <div class="con-inner scrollBox" style="visibility: visible; overflow: hidden; position: relative;">
    <ul class="user-list" data-to="0" style="position: relative; transform: translate(0px, 0px); display: block;">
      <li class="clearfix t-row" data-id="1535107" data-update_time_ms="140757816070290101" style="display:block;">
        <div class="userimg left"><i class="elem"></i> <span class="elem2"></span>
          <a href="javascript:void(0);" class="head">
            <%= image_tag 'avatar.png', class: 'msgAvatar', width: 90, height: 90 %>
          </a>
        </div>
        <div class="cont-box left">
          <p class="c-word"><a href="javascript:void(0);" class="user-name msgUserName">Ev Yuan Cheung:</a>
            <span class="cont displayContent" style="font-size:60px;">Good</span></p></div>
        <div class="btn-detail messageDetailBtn" style="display: none;">
          <div class="btn-style"><a href="javascript:void(0);" class="icon-arrow"></a></div>
        </div>
      </li>
      <li class="clearfix t-row" data-id="1535212" data-update_time_ms="140757823567170201" style="display:block;">
        <div class="userimg left"><i class="elem"></i> <span class="elem2"></span>
          <a href="javascript:void(0);" class="head">
            <%= image_tag 'avatar.png', class: 'msgAvatar', width: 90, height: 90 %>
          </a>
        </div>
        <div class="cont-box left">
          <p class="c-word"><a href="javascript:void(0);" class="user-name msgUserName">我是主持人:</a>
            <span class="cont displayContent" style="font-size:60px;">high qi lai</span></p></div>
        <div class="btn-detail messageDetailBtn" style="display: none;">
          <div class="btn-style"><a href="javascript:void(0);" class="icon-arrow"></a></div>
        </div>
      </li>
      <li class="clearfix t-row" data-id="1535213" data-update_time_ms="140757826685209001" style="display:block;">
        <div class="userimg left"><i class="elem"></i> <span class="elem2"></span>
          <a href="javascript:void(0);" class="head">
            <%= image_tag 'avatar.png', class: 'msgAvatar', width: 90, height: 90 %>
          </a>
        </div>
        <div class="cont-box left">
          <p class="c-word"><a href="javascript:void(0);" class="user-name msgUserName">我是主持人:</a>
            <span class="cont displayContent" style="font-size:60px;">...</span></p></div>
        <div class="btn-detail messageDetailBtn" style="display: none;">
          <div class="btn-style"><a href="javascript:void(0);" class="icon-arrow"></a></div>
        </div>
      </li>
    </ul>
  </div>
</div>