// Place all the styles related to the walls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-colorpicker";
@import "compass";

table.walls {
  tr img {
    max-width: 100%;
    height: auto;
  }
}

form .message-sample {
  padding: 10px;
  @include opacity(0.9);
  @include border-radius(5px);
}

form .image img {
  margin: 10px 0;
  max-width: 300px;
  max-height: 600px;
}
